/* -------------Importaciones-----------*/

@import"variables";
@import"header";
@import"footer";


/* -------------Reseteo-----------*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* -------------Main-----------*/

.search-song{
    background-color: $bgcContent;
    width: 100%;
    height: 350px;
    color: $bgLetters;
    &__title{
        padding: 20px;
    }
    &__p{
        padding: 20px;
    }
    &__inputs{
        width: 100%;
        padding: 0 20px;
    }
 }
 
 .search{
     width: 90%;
     margin-right:10px;
 }
 
 .form-select{
     margin-right:10px;
 }
 
 /* -------------section songs-----------*/
 
 .section-songs{
     display: grid;
     grid-template-columns: repeat(4, 1fr);
     justify-items: center;
     width: 100%;
     padding: 40px;
     @media(max-width:1140px){
        grid-template-columns: repeat(3, 1fr);
     }
     @media(max-width:860px) {
        grid-template-columns: repeat(2, 1fr);
     }
     @media(max-width:570px){
        grid-template-columns: 1fr;  
     }
 }
 

 @media(max-width:570px){
     .search-song{
         height: 450px;
     }
     .search-song__inputs{
         display: flex;
         flex-direction: column;
     }
     .form-select{
         margin-right:0px;
         margin: 10px 0;
     }
     
 }
 
 @media(max-width:400px){
     .search-song{
         height: 550px;
     }
 }
 
 .section-songs__card{
     height:280px;
     width:280px;
        img{
            height:200px;
            width:200px;
            border-radius:50%;
            transition: transform 0.5;
            &:hover{
                transform: scale(1.2); 
            }  
        }
        span{
            font-size:14px;
            color:#00609c;
            padding-top:10px;
            z-index: 1;
        }
     
 }
 
